<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/banner.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/alejandro.jpg');"></div>
                <h3><a class="light">Alejandro Saucedo</a></h3>
                <h4>Let's do this!</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>
        </div>
        <h4 class="content padding double-padding-x">Following</h4>
        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/jon-snow.jpg">
                <h2>Anderson Silva</h2>
                <p>Oi! Como vai?</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/sansa.jpg">
                <h2>Fedor Emelianenko</h2>
                <p>Winning titles @ mother Russia...</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/daenerys.jpg">
                <h2>Connor McGreggor</h2>
                <p>TROLOLOLOL!!</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
