<ion-view view-title="Buy tickets" align-title="left">
    <ion-content style="background: url(img/space.jpg) center; background-size: cover;">
        <div style="margin-top:50px" class="no-header flat">
            <div class="content">
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="From" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="To" highlight-color="energized" type="text"></ion-md-input>
        </div>
        <div class="list half">
            <ion-md-input placeholder="Depart" highlight-color="balanced" type="text"></ion-md-input>
        </div>
        <div class="list half">
            <ion-md-input placeholder="Return" highlight-color="balanced" type="text"></ion-md-input>
        </div>
        <br>
        <br>
        <br>
        <div class="padding">
            <button ui-sref="app.modules" class="button button-full button-assertive ink">Search</button>
        </div>
    </ion-content>
</ion-view>
