<ion-view view-title="Things to do" align-title="left" class="railtech-events">
    <div class="overview-search-header">
        <md-input-container class="md-block" flex-gt-sm>
            <label>City</label>
            <input ng-model="$ctrl.stationSearch"
                    ng-change="$ctrl.stationQuerySearch( $ctrl.stationSearch )">
        </md-input-container>
    </div>
    <ion-content>
        <div class="overview-list list">
            <a ng-repeat="item in $ctrl.stations"
                        class="overview-item item"
                        ui-sref="app.events.detail( { 'cityName': item.city } )"
                        style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ item.cover }});">
                <div class="item-title">{{ item.city }}</div>
                <div class="item-city"><i class="icon ion-pinpoint"></i> {{ item.name }}</div>
            </a>
        </div>
    </ion-content>
</ion-view>
