
@import "colors.scss";

.staffrepay-claim-form {
	background-color: #F1F4F4;

	.claim-form-content {
		margin-top: 50px;
	}

	.form-container {
		margin-top: 0px;

		.form-title {
			margin-bottom: 20px;
		}
	}
	

	.staffrepay-text-input-group {

		.journey-found-list {
			height: 30vh;
			overflow: scroll;
		}

		.journey-found-container {

			.journey-delayed {
				color: red;
				font-size: 1.2em;
			}
		}
	}

	

}