.things-to-do-location-picker {
	padding: 30px;

	.search-box {
		input {
			font-size: 2em;
			border-bottom: 1px solid gray;
		font-weight: 900;
			clear:both;
		}
		clear:both;
		margin-bottom:20px;
	}

	.search-results {
		clear:both;
		margin: auto auto;
		width: 80%;
		line-height: 1.8em;

		li {
			font-size: 1.5em;
			padding: 10px;
			cursor: pointer;
			border-bottom: 1px solid #E5E5E5;

			&:hover {
				background-color: #E8E8E8;
			}
		}
	}
}