
@import "colors.scss";

$padding-event-top: 30px;
$padding-event-sides: 30px;

.dtp-actual-meridien {
	display: none;
}

.railtech-things-to-do {

	.events-column {
		width: 100%;
		height: 100%;
		background-color: white;
		max-width: 450px;
		table-layout: fixed; 
		display: table;
	}

	.settings-header {
		padding-top:30px;
		padding-bottom: 20px;
		background-color: white;
		cursor: pointer;

		.background-input {
			color:transparent; 
			position: absolute; 
			width: 100%; 
			height: 100%; 
			top:0;
			bottom:0;
			right:0;
			left:0;
			background-color: transparent; 
			cursor: pointer;
		}

		.header-container {
			padding: 0 0 0 0;
			color: white;
			font-weight:900;
			text-align: left;
			font-size: 1.5em;
			line-height: 2em;
			text-align: center;
		}
		.time-container {
			background-color: #800080;
		}
		.location-container {
			background-color: #004080;
		}
		.text-container {
			color: #D5D5D5;
		}	

	}

	.filters-container {
		text-align: center;
		.filter-container {
			padding: 5px 0 5px;
		}
	}


	.event-types-divider {
		clear: both;
		text-align: center;

		.col-xs-4 {
			cursor: pointer;
			height: 40px;
			padding: 10px;
			font-size: 1.5em;

			&:active {

			}
		}
	}

	
	.event-theme {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		color: #400080;
		margin: 5px 0px;

		border: 1px #400080 solid;
		border-radius:10px;
		float: left;
		clear:both;
		max-width: 300px;
		padding: 1px 6px 1px 6px;
		font-size: 0.8em;
	}

	.event-cost {
		background-color: #00B551;
		color: white;
		padding: 10px  10px  10px  10px;
		float: right;
		font-size: 1.3em;
		border-radius: 10px;
	}


	.events-found {
		height: 80vh;
		margin-bottom: 200px;
	    cursor: hand;
	    cursor: pointer;
	    padding: 0 0 0 0;


		.last-item-padding {
			height:30px;
		}

		.item {
			color: black;
			float:right;
			height:160px;
			background-size:cover;
			background-position:center;
			// margin-bottom: 10px;
			position: relative;
			border-bottom: 1px solid gray;
			padding-top: 30px;

			&:active {
				background-color: #EDEDED;
				transition: background-image 0.5s;
			}

			// &:hover .event-next-steps-button-group .hidden-link {
			// 	display: block !important;
			// }

			// .event-next-steps-button-group {
			// 	.hidden-link {
			// 		display: none;
			// 	}
			// }
			
			.image-container {
				height: 100px;
				width: 100px;
				border-radius: 15px;
				float: left;
				margin: 0 10px 10px 0px;
			}

			.event-main-text-container {
				overflow: hidden;
  				text-overflow: ellipsis;
  				padding-top: 10px;

				.event-name {
					font-size: 1.5em;
					font-weight: bold;
					width: 85vw;
					white-space: nowrap;
					overflow: hidden;
					height:30px;
					padding: 5px;
					text-overflow: ellipsis;
				}

				.event-location {
					padding-top: 10px;
				}

			}

			.event-travel-time {
				position: absolute;
				bottom: 20px;;
				right: $padding-event-sides;
				font-weight: 900;
				font-size: 1.2em;
			}
		}
	}



	.map-container {
		height: 95%;
		padding: 0 0 0 0;
		position: absolute;
		right: 0px;
		bottom: 0px;
		top: 0px;
		z-index: -1;

		.map-info-window-expander {
			min-width: 400px;
		}
		.infoWindowContent {
			width: 80%;
		}
		.marker-title {
			height: 20px !important;
			width: 80%;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.event-travel-time {
			width: 80px;
			float:right;
			margin-top: 20px;
			font-weight: 900;
		}


		#map {
			width: 100%;
			height: 100%;
		}

		.map-image-container {
			height: 50px;
			width: 50px;
			float: left;
			border-radius: 15px;
			margin-right: 10px;
		}

		.marker-title {
			font-size: 1.4em;
			overflow: display;
			height: 10px;
		}

		.event-next-steps-button-group {
			text-align: center;
			bottom: 0px;
			height: 30px;
			padding-top:5px;

			a {
				text-decoration: none;
				color: #548AFF;

				&:hover, &:active {
					color: #33559E;
					border: 1px solid #33559E;
				}
			}
		}
	}

	/* ==========  Select Field Variables ========== */
	$color-black: "0,0,0";
	$select-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
	$select-font-size: 16px;
	$select-padding: 4px;

	select {
	  font-family: inherit;
	  background-color: transparent;
	  width: 100%;
	  padding: $select-padding 0;
	  border: none;
	  color: white;
	  border-bottom: 1px solid $select-border-color;
	}

	/* Remove focus */
	select:focus {
	  outline: none}

	/* Hide label */
	.mdl-selectfield label {display: none;}
	/* Use custom arrow */
	.mdl-selectfield select {appearance: none}
	.mdl-selectfield {
	  font-family: 'Roboto','Helvetica','Arial',sans-serif;
	  position: relative;
	    &:after {
	        position: absolute;
	        top: 0.75em;
	        right: 0.5em;
	        /* Styling the down arrow */
	        width: 0;
	        height: 0;
	        padding: 0;
	        content: '';
	        border-left: .25em solid transparent;
	        border-right: .25em solid transparent;
	        border-top: .375em solid $select-border-color;
	        pointer-events: none;
	    }
	}
}







