<ion-view view-title="Things to do" align-title="left" class="railtech-things-to-do">
    <ion-content scroll="false">
        <div class="events-column" style="max-width: {{ $ctrl.eventsContainerWidth }}px">
            <div class="col-xs-12 filters-container theme-main-color">
                <div class="col-xs-6 filter-container">
                    <select name="type" 
                            ng-model="$ctrl.typeChosen" 
                            ng-change="$ctrl.updateFilters()">
                        <option ng-repeat="item in $ctrl.types" value="{{ item }}">{{ item }}</option>
                    </select>
                </div>
                <div class="col-xs-6 filter-container">
                    <select name="theme" 
                            ng-model="$ctrl.themeChosen"
                            ng-change="$ctrl.updateFilters()">
                        <option ng-repeat="item in $ctrl.themes" value="{{ item }}">{{ item }}</option>
                    </select>
                </div>
            </div>
            <div class="settings-header">
                <div class="col-xs-3 header-container time-container">
                    {{ $ctrl.settings.traveltime | date:"H" }}h {{ $ctrl.settings.traveltime | date:"m" }}m
                    <input mdc-datetime-picker="" 
                        date="false" 
                        time="true" 
                        type="text" 
                        short-time="false"
                        ng-model="$ctrl.settings.traveltime" 
                        class="railtech-things-to-do-time-picker md-input background-input">
                </div>
                

                <div class="col-xs-9 header-container location-container"
                        ng-click="$ctrl.pickNewLocation()">
                    <span class="text-container"> from </span>
                    {{ $ctrl.settings.location.city }}
                </div>

                <div class="col-xs-12 header-container depart-container theme-main-color-light">
                    <span class="text-container">Departing at </span> 
                    {{ $ctrl.settings.datetime | date: "HH:MM on EEEE d, MMMM" }}
                    <input mdc-datetime-picker="" 
                            date="true" 
                            time="true" 
                            type="text" 
                            ng-model="$ctrl.settings.datetime" 
                            class="md-input background-input">
                </div>
            </div>

            <div class="event-types-divider theme-main-color">
                <div ng-class="{ 'theme-main-color-active': $ctrl.sortingBy === 'time' }" 
                        class="col-xs-4 theme-main-color" 
                        ng-click="$ctrl.sortBy('time')">
                    <i class="icon ion-clock"></i>
                </div>
                <div ng-class="{ 'theme-main-color-active': $ctrl.sortingBy === 'price' }" 
                        class="col-xs-4 theme-main-color" 
                        ng-click="$ctrl.sortBy('price')">
                    £
                </div>
                <div ng-class="{ 'theme-main-color-active': $ctrl.sortingBy === 'name' }" 
                        class="col-xs-4 theme-main-color" 
                        ng-click="$ctrl.sortBy('name')">
                    A - Z
                </div>
            </div>
            
            <!-- ui-sref="app.thingsToDo.event({ eventId: event.id })"  -->
            
            <ion-content class="events-found col-xs-12" overflow-scroll="true">
                <ion-refresher pulling-text="Pull to refresh" on-refresh="$ctrl.findEvents()"></ion-refresher>
                <ul class="list">
                    <li class="item" 
                                ng-repeat="event in $ctrl.visibleEvents"  
                                ng-click="$ctrl.openInfoWindow(event.marker)">
                        <!-- <div class="image-container hide-xs" style='background-image: url("http://gwr.com/{{ event.event.image }}"); background-size: cover;'></div> -->
                        <div class="event-main-text-container col-xs-10">
                            <a      ui-sref="app.thingsToDo.event({ eventId: event.event.id })" 
                                    title="{{ event.event.name }}"
                                    class="event-name theme-main-color-link">
                                {{ event.event.name }}
                            </a>
                            <div class="event-location">
                                <i class="icon ion-ios-location"></i>
                                <span>{{ event.event.city }}</span>
                            </div>
                        </div>
                        <div class="event-cost">
                            £ {{ event.event.price | number:0 }}
                        </div>
                        <div class="event-travel-time">
                            {{ event.route.time / 60 | number:0 }} minutes
                        </div>
                        <br><br>
                        <br>
                        <br>
                        <div class="event-theme" title="{{ event.event.theme }}">
                            {{ event.event.theme }}
                        </div>
                        
                        <!-- <div class="col-xs-12 event-next-steps-button-group">
                            <a href="#" class="col-xs-4 hidden-link">
                                More Info
                            </a>
                            <a href="#" class="col-xs-4  hidden-link">
                                Book Train
                            </a>
                            <a href="{{ event.event.website }}" target="_blank" class="col-xs-4  hidden-link">
                                Book Event
                            </a>
                        </div> -->
                    </li>
                    <li class="item last-item-padding"></li>
                </ul>

            </ion-content>
        </div>
    </div>

    <div class="map-container hide-xs sm-show" ng-style="{ width: $ctrl.mapWidth + 'px' }">
        <div id="map"></div>
    </div> 

    </ion-content>
</ion-view>

