<ion-view view-title="Things to do" align-title="left" class="railtech-things-to-do">
    <ion-content scroll="false">
        <div class="settings-header col-xs-12">
            <div class="col-xs-12">
                <div class="col-xs-12 col-md-5 col-lg-3 selected-date">{{ $ctrl.settings.date }}</div>
                <div class="col-xs-12 location-settings">
                    <div class="col-xs-12">Travel Time</div>
                    <div class="col-xs-12">
                        <span class="selected-time">{{ $ctrl.settings.time }}</span>
                        <span> from </span>
                        <span class="selected-location">{{ $ctrl.settings.location }}</span>
                    </div>
                 </div>
            </div>
        </div>

        <div class="event-types-divider">
            <h3 class="events">Events</h3>
        </div>
    
        <ion-scroll class="events-found" overflow-scroll="true">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="$ctrl.findEvents()"></ion-refresher>
            <ul class="list">
                <li class="item" 
                            ng-repeat="event in $ctrl.events" 
                            ng-click="$ctrl.selectEvent(event.id)"  
                            style="background-image: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) ), url({{ event.image }})">
                    <div class="event-name">{{ event.name }}</div>
                    <div class="event-location">
                        <span>£</span>
                        <i class="icon ion-ios-location"></i>
                        <span>{{ event.city }}</span>
                    </div>
                    <div class="event-travel-time">{{ event.travelTime }}</div>
                </li>
                <li class="item last-item-padding"></li>
            </ul>
        </ion-scroll>

    </ion-content>
</ion-view>

