<ion-view view-title="Buy tickets" align-title="left">
    <ion-content>
        <div style="margin-top:50px" class="no-header flat">
            <div class="content">
                <h1>Buy Tickets</h1>
            </div>
        </div>
        <div class="list">
            <!-- From station -->
            <md-autocomplete 
                    class="ticketing-input"
                    ng-required="true"
                    md-floating-label="From" 
                    placeholder="From" 
                    type="text" 
                    md-search-text="$ctrl.fromStationSearch"
                    md-selected-item="$ctrl.fromStation"
                    md-items="item in $ctrl.fromQuerySearch($ctrl.fromStationSearch)"
                    md-item-text="item.display">
                <md-item-template>
                  <span md-highlight-text="$ctrl.fromStationSearch" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
            </md-autocomplete>
            <!-- /From station -->
            <!-- To station -->
            <md-autocomplete 
                    class="ticketing-input"
                    ng-required="true"
                    md-floating-label="To" 
                    type="text" 
                    md-search-text="$ctrl.toStationSearch"
                    md-selected-item="$ctrl.toStation"
                    md-items="item in $ctrl.fromQuerySearch($ctrl.toStationSearch)"
                    md-item-text="item.display">
                <md-item-template>
                  <span md-highlight-text="$ctrl.toStationSearch" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
            </md-autocomplete>
            <!-- /To station -->
        </div>
        <div>
            <div class="list half">
                <md-datepicker 
                    ng-required
                    ng-model="$ctrl.departDate" 
                    md-placeholder="Depart"></md-datepicker>
            </div>
            <div class="list half">
                <md-datepicker 
                    ng-model="$ctrl.returnDate"
                    md-placeholder="Return"></md-datepicker>
            </div>
        </div>
        <br>
        <div>
            <md-input-container style="width:100%">
                <label>Number of passengers</label>
                <input ng-model="$ctrl.passengerNumber" 
                        type="number" 
                        min="1" 
                        max="10" 
                        width="100%"
                        ng-required>
            </md-input-container>
        </div>
        <div class="padding">
            <button ng-click="$ctrl.findResults()" class="button button-full button-assertive ink">Search</button>
        </div>
    </ion-content>
</ion-view>
