
@import "colors.scss";

.outstanding-claims-list {

	.claim-item {

		&.claim-flagged {
			background-color: $flagged-color;

			&:hover {
				background-color: lighten($flagged-color, 20);
				cursor: pointer;
			}
		}

	}

	.highcharts-title {
		text-align: center;

		.field {
			font-size: 18px;
		}

		.value {
			font-size: 15px;
			font-weight: 900;
		}	
	}	

}