
@import "colors.scss";

.outstanding-claims-list {
	margin-top: 20px;
	padding-top: 50px;

	.staffrepay-checkbox {
		margin-top:20px;
	}
	.staffrepay-text-input-group {
		clear: both;
		min-height: 100px;
		padding-top: 10px;
		transition: background-color 2s ease,
					min-height 2s ease;

		.warning-message {
			height: 0;
			overflow: hidden;
			color: #980900;
			font-size: 1.3em;
			line-height: 1.5em;

			transition: height 2s ease;
		}

		&.warning-input {
			&.ticket-identification-container {
				min-height: 130px;
				background-color: #FFE9F3;
			}

			.warning-message {
				height: 30px;
			}
		}
	}

	.ticket-form-footer {
		height: 50px;
		position: fixed;
		bottom: 70px;
	}
}

@media screen and (max-width: 980px) {
.outstanding-claims-list {
	.ticket-container {
		max-height: 60vh !important;
	}
	.form-container-scroll {
		clear:both;
		height: 30vh !important;
	}
}
}
@media screen and (max-width: 680px) {
.outstanding-claims-list {
	.ticket-container {
		max-height: 50vh !important;
	}
	.form-container-scroll {
		height: 45vh !important;
	}
}
}
@media screen and (max-width: 480px) {
.outstanding-claims-list {
	.ticket-container {
		max-height: 30vh !important;
	}
	.form-container-scroll {
		height: 60vh !important;
	}
}
}