
$vtec: #D30000; 
$hacktrain: #383838; 
$gwr: #0A3A2F;
$c2c: #BC0087;
$goAhead: #205C9D;
$londonMidland: #3CAF32;

$main-theme: $vtec;
$main-theme-darker: darken($main-theme, 4);
$main-theme-lighter: lighten($main-theme, 30);
$main-theme-lightest: lighten($main-theme-lighter, 40);

.main-theme- {
	.theme-main-color {
		background-color: black;
		color: white;
	}
	.theme-main-color-active {
		&:active {
			background-color: gray !important;
		}
	}
	.theme-main-color-light {
		background-color: gray;
		color: white;
	}
}

.main-theme-gwr {
	.theme-main-color {
		background-color: $gwr;
		color: white;
	}
	.theme-main-color-active {
		background-color: darken($gwr, 20) !important;
	}
	.theme-main-color-light {
		background-color: lighten($gwr, 30);
		color: white;
	}
}

.main-theme-vtec {
	.theme-main-color {
		background-color: $vtec;
		color: white;
	}
	.theme-main-color-active {
		background-color: darken($vtec, 4) !important;
	}
	.theme-main-color-light {
		background-color: lighten($vtec, 30);
		color: white;
	}
}
 

// Fonts
@font-face {
	font-family: "AvenirN";
	src: url("../assets/styles/fonts/avenirnext/avenirnext.eot");
	src: url("../assets/styles/fonts/avenirnext/avenirnext.otf") format("opentype"),
		 url("../assets/styles/fonts/avenirnext/avenirnext.woff2") format("woff2"),
		 url("../assets/styles/fonts/avenirnext/avenirnext.woff") format("woff"),
		 url("../assets/styles/fonts/avenirnext/avenirnext.ttf") format("truetype");
}
